body {
  background: green;
  box-sizing: box-block;
}
.card {
  text-align: center;
  display: inline-block;
  font-size: 80px;
  background: white;
  margin: auto;
  height: 200px;
  width: 250px;
  padding: 20px;
  padding-top: 180px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
}
.left-top {
  /* content: "\2660"; */
  position: absolute;
  top: 0;
  left: 0;
  font-size: 80px;
}
.bottom-right {
  /* content: "\2660"; */
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}
